<!-- 版權申明 -->
<footer class="bg-neutral-100 py64 py-sm-32">
    <div class="container">
        <nav class="d-f aic jcsb mb24 d-sm-block">
            <a href="index.html"><img src="../assets/images/logo.svg" alt="logo"></a>
            <ul class="d-f aic d-sm-block px-sm-12">
                <li class="mr40">
                    <a href="#" class="py12">商品列表</a>
                </li>
                <li><a href="#" class="py12">品牌故事</a></li>
            </ul>
        </nav>
        <div class="copyright">
            <p class="mb4">Copyright ©2025 URBNSTYLE</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>