<nav class="container py16 py-sm-12 d-f aic jcsb">
        <ul class="d-f aic">
            <li class="mr48"><a href="index.html">
                <img src="../assets/images/logo.svg" alt="logo"></a>
            </li>
            <li class="d-sm-none"><a href="pd-list.html" class="py12 mr40">商品列表</a></li>
            <li class="d-sm-none"><a href="index.html" class="py12">品牌故事</a></li>
        </ul>
        <a href="#"><i class="bi bi-person p12"></i></a>
</nav>